@using Project.WebUI.Models.Entities.Membership
@model ProjectUser
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <section id="wexsi_melumat">
        <form action="">
            <div class="form-group">
                <label>// NAME</label>
                <input type="text" disabled value="@Model.Name" />
            </div>
            <div class="form-group">
                <label>// SURNAME</label>
                <input type="text" disabled value="@Model.Surname" />
            </div>
            <div class="form-group">
                <label>// FIN CODE</label>
                <input type="text" disabled value="@Model.FinCode" />
            </div>
            <div class="form-group">
                <label>// DEPARTMENT</label>
                <input type="text" disabled value="@ViewBag.departmentName" />
            </div>
            <div class="form-group">
                <label>// POSITION</label>
                <input type="text" disabled value="@ViewBag.professionName" />
            </div>
        </form>
    </section>
</div>
